@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.card {
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

@layer components {
  .rotate-y-180deg {
    transform: rotateY(180deg);
  }

  .backface-visibility-hidden {
    backface-visibility: hidden;
  }
}
